body {
    background-color: #6a866c;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #8eaa6b;
    color: rgb(228, 210, 210);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
    height: 100%;
}

.passo.ativo {
    display:block;
    height: 100%;
}

main {
    text-align: center;
    max-width: 100%;
}

img {
    max-width: 60%;
}